*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  background: #fff8f3;
  font-family: "Gloria Hallelujah", cursive;
}

.info--heading {
  font-size: 5rem;
}
.info--heading-2 {
  font-size: 3rem;
}
.info--heading-para {
  font-size: 1.5rem;
}

.info--link:link, .info--link:visited {
  text-decoration: none;
  color: lightskyblue;
  transition: all 0.2s ease;
}
.info--link:hover, .info--link:active {
  color: #21a7fa;
  text-decoration: underline;
}

.u-text-center {
  text-align: center;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.nav__btn {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  border: none;
  font-size: 3rem;
  text-align: center;
  padding: 1rem 0;
}
.nav__btn--1 {
  background-color: #3aff3a;
}
.nav__btn--2 {
  background-color: #81f7ff;
}
.nav__btn--3 {
  background-color: #ff3a3a;
}
.nav__btn--4 {
  background-color: #3085f5;
}

.modal__btn--close {
  position: absolute;
  top: 7%;
  right: 5%;
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
  border: none;
  background-color: #a9f1df;
}
.modal__btn--close:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.486);
}

.form__btn {
  padding: 1rem 2rem;
  width: 40%;
  margin: 0 auto;
  border: none;
  border-radius: 50px;
  background-color: #93ffd8;
  font-family: inherit;
  font-size: 2rem;
  transition: transform 0.2s;
}
.form__btn:hover {
  transform: translateY(-10%);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.363);
}

.nav-btn--active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.452);
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.form__group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.form__label {
  width: 30%;
  font-size: 2rem;
}
.form__input {
  width: 70%;
  font-size: 2rem;
  border-radius: 50px;
  padding: 2rem 1rem;
  border: none;
}
.form__input:focus {
  outline: none;
  border-bottom: 5px solid greenyellow;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
.form__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.form__label--modal {
  width: 30%;
  font-size: 2rem;
}
.form__input--modal {
  width: 70%;
  font-size: 2rem;
  border-radius: 50px;
  padding: 2rem 1rem;
  border: none;
}
.form__input--modal:focus {
  outline: none;
  border-bottom: 5px solid greenyellow;
}
.form__btn--modal {
  padding: 1rem 2rem;
  width: 40%;
  margin: 0 auto;
  border: none;
  border-radius: 50px;
  background-color: #93ffd8;
  font-family: inherit;
  font-size: 2rem;
  transition: transform 0.2s;
}
.form__btn--modal:hover {
  transform: translateY(-10%);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.363);
}

.task {
  background-color: #93ffd8;
  border-radius: 50px;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  list-style: none;
  gap: 3rem;
}
.task__name {
  font-size: 1.5rem;
}
@media (max-width: 56.25em) {
  .task__name {
    font-size: 1.2rem;
  }
}
.task__icon {
  font-size: 2rem;
}
.task__date {
  font-size: 1.2rem;
}
.task__btn {
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
  border: none;
}
.task__btn:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.486);
}
.task__delete {
  background-color: #ff1f5a;
}
.task__update {
  background-color: yellow;
}
.task__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .task__cont {
    flex-direction: column;
    gap: 2rem;
  }
}
.task__cont2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .task__cont2 {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 56.25em) {
  .task {
    padding: 2rem;
    overflow-x: scroll;
  }
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 12020000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__edit-box {
  background-color: #fffbdf;
  width: 80%;
  height: 80%;
  padding: 5rem 8rem;
  border-radius: 50px;
  position: relative;
  border: 5px solid yellow;
}
.modal--hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.display {
  height: 100vh;
  margin-left: 10rem;
}

.container {
  height: 100vh;
  position: relative;
}

.task__box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  border-radius: 3rem;
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 0.5s;
  padding: 3rem 4rem;
}
.task__box--add {
  border: 5px solid #3aff3a;
}
.task__box--all {
  border: 5px solid #81f7ff;
}
.task__box--edit {
  border: 5px solid #ff3a3a;
}
.task__box--info {
  border: 5px solid #3085f5;
}

.active {
  height: 90%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1222;
  background-color: #fffbdf;
}

.nav {
  background-color: #fffdde;
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 100vh;
  display: flex;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.nav-a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.logo__cont {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.content {
  height: 80%;
  overflow-y: scroll;
  padding: 1rem;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.content::-webkit-scrollbar {
  display: none;
}
.content--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
