.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 12020000;
  display: flex;
  align-items: center;
  justify-content: center;
  &__edit-box {
    background: chocolate;
    width: 80%;
    height: 60%;
    padding: 3rem 8rem;
    border-radius: 50px;
    position: relative;
  }
  &--hide {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
  }
}
