.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 12020000;
  display: flex;
  align-items: center;
  justify-content: center;
  &__edit-box {
    background-color: #fffbdf;
    width: 80%;
    // height: 80%;
    padding: 5rem 8rem;
    border-radius: 50px;
    position: relative;
    border: 5px solid yellow;
    @include respond(640) {
      width: 90%;
      padding: 5rem 1rem;
    }
  }
  &--hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
